@import "reset.css";


body{
    padding : 0;
    margin : 0;
    border : none;
    font-size : 14px;
    font-family : 'Pretendard', sans-serif;
    background-color: #f0e39e;
}

.join-page{ /*전체 틀*/
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.menu { /*상단 로고 및 메뉴바*/
    display : flex;
    justify-content: space-between;
    align-items : center;
    margin-bottom: 7rem;
    width: 100%;
}

.join-menubar {
    margin-right: 1%;
    font-weight: 500;
}

/*상단 메뉴*/
/*.menu > a{
    text-decoration-line: none;
    color: black;
}*/

.join-logo { /*회원가입 페이지 로고*/
    width: 93px;
    height: 53px;
    flex-shrink: 0;
    margin: 0.5rem 76.3rem 1rem 1rem;
}

.join-form { /*회원가입 폼 전체*/
    flex-shrink: 0;
    width: 90%;
    position: relative;
    background-color: #ffffff;
}

.join-title { /*회원가입 제목*/
    color: #000000;
    font-size: 46px;
    font-weight: 800;
    text-align: center;

}

.rabbit { /*토끼*/
    width: 8rem;
    height: 8rem;
    position: absolute;
    left: 85%;
}

.join-rectangle { /*하얀색 화면*/
    background-color: #ffffff;
    padding: 8rem 5rem;
    margin-top: 1rem;
    border-radius: 20px;
    height: 51.5vh;
    width: 75%;
    font-size: 24px;

}

.joinbutton { /*회원가입 확인버튼*/
    padding: 0.5rem 2rem;
    box-shadow: 3px 4px 2px lightgray;
    background-color: #3b9e23;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Pretendard';
}

.join-button{
    text-align: center;

}


.notice-joinid{ /*아이디 안내문구*/
    font-size: 15px;
    font-weight: revert;
}

.check-joinid{ /*아이디 중복 체크 경고문*/
    font-size: 15px;
    font-weight: revert;
    color: red;
}

.check-joinpw{ /*패스워드 중복 및 유효성 검사 경고문*/
    font-size: 15px;
    font-weight: revert;
    color: red;
}

.pwcheck01-result{ /*패스워드 확인 경고문*/
    font-size: 15px;
    font-weight: revert;
    color: red;
}

.check-button { /*아이디 중복확인 버튼*/
    background-color: #3b9e23;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    padding: 0.4rem;
    font-family: 'Pretendard';
}

.nick-result { /*닉네임 글자수 확인 경고문*/
    font-size: 15px;
    font-weight: revert;
    color: red;
}

.join-input { /*데이터입력창*/
    font-size: 20px;
    font-weight: 900;
}


input[type=text] { /*입력창 디자인*/
    width:280px;
    height:32px;
    font-size: 20px;
    border-radius: 5px;
    border:0;
    background-color: #f0e39e;
}

input[type=password] { /*입력창 디자인*/
    width:280px;
    height:32px;
    font-size: 20px;
    border-radius: 5px;
    border:0;
    background-color: #f0e39e;
}

input[type=number]{ /*전화번호 입력창 디자인*/
    width:280px;
    height:32px;
    font-size: 20px;
    border-radius: 5px;
    border:0;
    background-color: #f0e39e;
}

select { /*선택창 디자인*/
    height:32px;
    border-radius: 5px;
    border:0;
    font-size: 20px;
    background-color: #f0e39e;
}

/*테이블*/
table {
    width: 100%;
    float: right;

}

table, th {
    float: right;
}

table, td {
    font-weight: 700;
    padding: 0.7rem;
    width: 89%;
}
/*테이블*/








