<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../css/endjoin.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>endjoin</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<body>
    <form action="/member/endjoin" method="post">
        <div class="endjoin-page" id="endjoin-page">
            <header class="menu" id="menu">
                <div class="endjoin-logo" id="endjoin-logo">
                    <a href="main.html">
                        <img class="endjoin-logo" src="../images/joinlogo.PNG"/>
                    </a>
                </div>

                <div class="endjoin-menubar" id="endjoin-menubar">
                    <a href="login.html">로그인&emsp;</a>
                    <a href="mypage.html">마이페이지&emsp;</a>
                    <a href="explain.html">또독이란?</a>
                </div>
            </header>
            <div>
                <h2 class="endjoin-title">회원가입</h2>
            </div>
            <div class="endjoin-rectangle" id="endjoin-rectangle">
                <div class="endjoin-end" id="endjoin-end">
                    <p>회원가입이<br>완료되었습니다.</p>
                </div>
                <form action="/member/login" method="get">
                    <div class="endjoin-button" id="endjoin-button">
                        <a class="endjoinbutton" href="/member/login">로그인하러 가기</a>
                    </div>
                </form>
            </div>
        </div>
    </form>
</body>
</html>