<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="/css/join.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<body>
    <form action="/member/join" method="post">

        <!--전체 화면-->
        <div class="join-page" id="join-page">

            <!--상단 메뉴(로고, 메뉴바)-->
            <header class="menu" id="menu">

                <div class="join-logo" id="join-logo">
                    <a href="main.html">
                        <img class="join-logo" src="../images/joinlogo.PNG"/>
                    </a>

                </div>

                <div class="join-menubar" id="join-menubar">
                    <a href="/member/login">로그인&emsp;</a>
                    <a href="/myPage">마이페이지&emsp;</a>
                    <a href="/member/login">또독이란?</a>
                </div>
            </header>

            <div>
                <h2 class="join-title">회원가입</h2>
            </div>

            <!--회원가입 폼 시작-->
            <div class="join-rectangle" id="join-rectangle">

                <table >
                    <tr>
                        <th>아이디</th>
                        <td>&emsp;<input type = "text" name = "memberId" id="memberId" onkeyup="idCheck()">
                            &nbsp;
                            <label class="check-joinid" id="check-result">&emsp;</label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <td>
                            <label class="notice-joinid" for="memberId">&emsp; · 영문, 숫자 또는 각각의 조합으로 8~10자리까지 가능합니다.</label>
                        </td>
                    </tr>

                    <tr>
                        <th>비밀번호 </th>
                        <td>&emsp;<input class = join-input type = "password" name = "memberPw" id="memberPw" onkeyup="passwordCheck()">
                            &nbsp;
                            <label class="check-joinpw" id="pwcheck-result">&emsp;</label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <td>
                            <label class="notice-joinid" for="memberPw">&emsp; · 영문 대소문자, 숫자, 특수문자 중 2가지 이상 조합이어야 합니다.</label>
                        </td>
                    </tr>

                    <tr>
                        <th>비밀번호 확인 </th>
                        <td>&emsp;<input class = join-input type = "password" name = "memberPw_check" id="memberPw_check" onkeyup="isPwSame()">
                        &nbsp;
                            <label class="pwcheck01-result" id="pwcheck01-result">&emsp;</label>
                        </td>
                    </tr>


                    <tr>
                        <th>이름 </th>
                        <td>&emsp;<input class = join-input type = "text" name = "memberName" id="memberName">
                        </td>
                    </tr>

                    <tr>
                        <th>전화번호 </th>
                        <td>&emsp;<input class = join-input type = "text" name = "memberPhone" id="memberPhone"></td>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <td>
                            <label class="notice-joinid" for="memberPhone">&emsp; · '-' 기호를 사용해서 작성해주세요.</label>
                        </td>
                    </tr>

                    <tr>
                        <th>생년월일 </th>
                        <td> &emsp;
                            <select name="year">
                                <option value = "2005">2005</option>
                                <option value = "2006">2006</option>
                                <option value = "2007">2007</option>
                                <option value = "2008">2008</option>
                                <option value = "2009">2009</option>
                                <option value = "2010">2010</option>
                                <option value = "2011">2011</option>
                            </select> 년

                            <select name="month">
                                <option value = "1">1</option>
                                <option value = "2">2</option>
                                <option value = "3">3</option>
                                <option value = "4">4</option>
                                <option value = "5">5</option>
                                <option value = "6">6</option>
                                <option value = "7">7</option>
                                <option value = "8">8</option>
                                <option value = "9">9</option>
                                <option value = "10">10</option>
                                <option value = "11">11</option>
                                <option value = "12">12</option>
                            </select> 월

                            <select name="day">

                                <option value = "1">1</option>
                                <option value = "2">2</option>
                                <option value = "3">3</option>
                                <option value = "4">4</option>
                                <option value = "5">5</option>
                                <option value = "6">6</option>
                                <option value = "7">7</option>
                                <option value = "8">8</option>
                                <option value = "9">9</option>
                                <option value = "10">10</option>
                                <option value = "11">11</option>
                                <option value = "12">12</option>
                                <option value = "13">13</option>
                                <option value = "14">14</option>
                                <option value = "15">15</option>
                                <option value = "16">16</option>
                                <option value = "17">17</option>
                                <option value = "18">18</option>
                                <option value = "19">19</option>
                                <option value = "20">20</option>
                                <option value = "21">21</option>
                                <option value = "22">22</option>
                                <option value = "23">23</option>
                                <option value = "24">24</option>
                                <option value = "25">25</option>
                                <option value = "26">26</option>
                                <option value = "27">27</option>
                                <option value = "28">28</option>
                                <option value = "29">29</option>
                                <option value = "30">30</option>
                                <option value = "31">31<option>
                            </select> 일

                        </td>
                    </tr>

                    <tr>
                        <th>닉네임 </th>
                        <td>&emsp;
                            <input class = join-input type = "text" name = "memberNick" id = "memberNick" onkeyup="checkNicknameLength()">
                            &nbsp;&nbsp;
                            <label class="nick-result" id="nick-result">&emsp;</label>
                        </td>
                    </tr>

                    <tr>
                        <th>&nbsp;</th>
                        <td>&nbsp;</td>
                    </tr>
                </table>

                <div class="join-button" id="join-button">
                    <button class="joinbutton" id="joinbutton" type="submit">가입하기</button>
                </div>
                <!--회원가입 폼 끝-->

            </div>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/js/join.js}"></script>
</body>
</html>