<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>또독</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/myPage.css">
</head>

<body>
    <div id="container">
        <header id="header">
            <img src="images/joinlogo.png" height="63" width="92" >
        </header>

        <section>
            <div id="overlay-container">
                <img src="images/myPageImage.png" id="myPageImg" height="600" width="1200">
                <p id="myPage_text">마이 페이지</p>
                <span class="user-nick" th:text="${userNick != null ? userNick : 'Guest'}"></span>
                <p id="user-nick-info">님 반가워요</p>
                <img src="/images/line.png" id="line-image"  width="240">
                <p id="overlay-text-pointshop">내 포인트</p>
                <p id="overlay-text-pointview" th:text="${memberPoint} + '점'"></p>
                <img src="/images/puppy.png" id="puppy-image"  width="200" height="200">

                <button id="logoutButton">로그아웃</button>
                <button id="deleteMemberButton">탈퇴하기</button>
                <button id="myPagetoGoHome">돌아가기</button>

            </div>
        </section>
    </div>

<script>

    // 로그아웃
    document.getElementById('logoutButton').addEventListener('click', function() {
        window.location.href = "/member/login";
    });

    // 회원 탈퇴
    const deleteMemberButton = document.getElementById("deleteMemberButton");

    deleteMemberButton.addEventListener("click", () => {
        if (confirm("정말로 회원을 탈퇴하시겠습니까?")) {
            fetch("/members/delete", {
                method: "DELETE",
            })
            .then(response => {
                if (response.status === 200) {
                    alert("회원 탈퇴가 완료되었습니다.");
                    location.href = "/member/login";
                } else {
                    alert("회원 탈퇴에 실패했습니다.");
                }
            });
        }
    });

    const myPagetoGoHomeButton = document.getElementById("myPagetoGoHome");

    myPagetoGoHomeButton.addEventListener("click", () => {
        window.location.href = "/main_ver2";
    });

</script>

</body>
</html>