<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/style2.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

<div class="quiz1-form">
    <div class="quiz1-logoform">
        <a href="/main_ver2">
            <img class="quiz1-logo" src="../images/wordstudy_studylogo.png" />
        </a>
    </div>

    <div class="quiz1-02">
        <div class="quiz1-01">
            <div class="quiz1-yello">
                <div class="quiz1-question" th:text="${questionContent}"></div>
            </div>
            <img class="rabbit" alt="" onclick="location.href='quizex1.html';" src="../images/rabbit.png" />
        </div>

        <div class="quiz1-passage">
            <div class="quiz1-hole"></div>
            <div class="quiz1-passageContent">
                <div class="quiz1-passagedesign">
                    <div class="quiz1-passage" th:text="${questionPassage}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="quiz1-03">
        <div class="quiz1-choice01">
            <div class="quiz1-choiceCode01" data-choiceCode="${isAnswerRight}"></div>
            <div class="quiz1-choiceContent" th:text="${choiceContent}">겉에서 속, 또는 밑에서 위까지의 길이가 짧다.</div><br>
        </div>

        <div class="quiz1-choice02">
            <div class="quiz1-choiceCode02" data-choiceCode="${isAnswerRight}"></div>
            <div class="quiz1-choiceContent" th:text="${choiceContent}">병이나 상처 따위가 고쳐져 본래대로 되다.</div><br>
        </div>

        <div class="quiz1-choice03">
            <div class="quiz1-choiceCode03" data-choiceCode="${isAnswerRight}"></div>
            <div class="quiz1-choiceContent" th:text="${choiceContent}">보다 더 좋거나 앞서 있다.</div>
        </div>

        <div class="quiz1-choice04">
            <div class="quiz1-choiceCode04" data-choiceCode="${isAnswerRight}"></div>
            <div class="quiz1-choiceContent" th:text="${choiceContent}">소리가 꽤 낮다.</div>
        </div>
    </div>
</div>

<img class="arrow-icon" alt="" onclick="location.href='quiz2.html';" src="../images/arrow.svg" id="arrowButton"/>
</div>

<script type="text/javascript" th:src="@{/js/quiz3.js}"></script>
</body>

</html>